/* MAIN */
html {
    scroll-behavior: smooth;
}

font {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-size: 2.75em;
    color: black;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: medium;
    color: #212529;
}

a:hover {
    text-decoration: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

#content-wrap {
  padding-bottom: 12vh;    /* Footer height */
}

button:focus {
    outline: none;
}


.button-primary {
    background-color: #0050FF;
    border-radius: 20px;
    border: solid #0050FF 2px;
    text-align: center;
    color: white;
    margin: 5px;
    padding: 10px 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
}

#presentation-projects .button-primary {
    background-color: #0050FF;
    border-radius: 20px;
    border: solid #0050FF 2px;
    text-align: center;
    color: white;
    margin: 5px 5px 5px 0;
    padding: 10px 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
}

#presentation-projects .button-primary:hover {
    background-color: #0050FF;
    border-radius: 20px;
    border: solid #0050FF 2px;
    text-align: center;
    color: white;
    margin: 5px 5px 5px 0;
    padding: 10px 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
}

.button-primary:hover {
    background: none;
    border-radius: 20px;
    border: solid #0050FF 2px;
    text-align: center;
    color: #0050FF;
    margin: 5px;
    padding: 10px 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
}

.button-secondary {
    background: none;
    border-radius: 20px;
    border: solid #0050FF 2px;
    text-align: center;
    color: #0050FF;
    margin: 5px;
    padding: 10px 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
}

#presentation-projects .button-secondary {
    background: none;
    border-radius: 20px;
    border: solid #0050FF 2px;
    text-align: center;
    color: #0050FF;
    margin: 5px 5px 5px 0;
    padding: 10px 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
}

#presentation-projects .button-secondary:hover {
    background: none;
    border-radius: 20px;
    border: solid #0050FF 2px;
    text-align: center;
    color: #0050FF;
    margin: 5px 5px 5px 0;
    padding: 10px 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
}

.button-secondary:hover {
    background-color: #0050FF;
    border-radius: 20px;
    border: solid #0050FF 2px;
    text-align: center;
    color: white;
    margin: 5px;
    padding: 10px 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
}

/* UTILITIES */
.bold {
    font-weight: bold;
}


.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

/* HOME */
.left-container{
    -webkit-box-shadow: 1px -1px 30px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 1px -1px 30px 1px rgba(0, 0, 0, 0.16);
    text-align:center;
}

.left-container-color {
    background-color: #F4ECE6;
    padding: 30px;
}

.rounded-image {
    border-radius: 1000px;
    max-width: 60%;
    margin: 20px 30px 20px 30px;
}

.background-colored {
    background-color: #E6DACE;
    display: inline-block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 35vw;
    z-index: -1;
}

@media screen and (max-width: 768px){
    .background-colored {
        background-color: #E6DACE;
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 80%;
        width: 100vw;
        z-index: -1;
    }
}

#presentation-home h1 {
    font-size: 10em;
    margin-left: -10px;
}

@media screen and (max-width: 400px){
    #presentation-home h1 {
        font-size: 5em;
        margin-left: -5px;
    }
}

#presentation-home h2 {
    font-size: 2em;
    font-weight: 400;
}

@media screen and (max-width: 400px){
    #presentation-home h2 {
        font-size: 1.5em;
    }
}

#presentation-home h3 {
    font-size: 1.9em;
    font-weight: 600;
}

#presentation-home h4 {
    font-size: 1.5em;
    font-weight: 300;
}

#presentation-home .left-container-hr-blue {
    background-color: #0050FF;
    height: 2px;
    max-width: 10%;
}

#presentation-home .right-container-buttons-item {
    display: inline-block;
    min-height: 50px;
}

#presentation-home .button-primary {
    margin: 0 10px 0 0;
}

#presentation-home .button-secondary {
    margin: 0 10px 0 0;
}

#presentation-home .left-container-white {
    background-color: white;
    padding: 15px 0 15px 0;
}

#presentation-home .social-icon-container {

}

#presentation-home .social-icon {
    max-height: 30px;
}

.right-container {
    padding-left: 30px;
}

@media screen and (max-width: 767px){
    .right-container {
        padding-left: 0;
    }
}

/* RESUME */
#presentation-resume {
    background-color: #E6DACE;
}

#presentation-resume .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#presentation-resume .blue-square {
    width: 20px;
    height: 20px;
    background-color: #0050FF;
}

#presentation-resume .list-item {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

#presentation-resume .blue-square-bullet-point {
    width: 10px;
    height: 10px;
    background-color: #0050FF;
    margin: 7px 10px 15px 0;
}

#presentation-resume .resume-container-item {
    background-color: white;
    -webkit-box-shadow: 1px -1px 30px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 1px -1px 30px 1px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    padding: 50px 50px 30px 50px;
    margin: 30px 0 30px 0;
}

#presentation-resume .resume-container-item-skills {
    background-color: white;
    -webkit-box-shadow: 1px -1px 30px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 1px -1px 30px 1px rgba(0, 0, 0, 0.16);
    justify-content: left;
    padding: 50px 50px 30px 50px;
    margin: 30px 0 30px 0;
}

#presentation-resume .skill-item-container {
    height: 100%;
}

#presentation-resume .resume-container-item-date {
    width: 30%;
    padding-right: 30px;
}

#presentation-resume .resume-container-item-text {
    width: 70%;
}

#presentation-resume .title-text {
    text-align: center;
    padding: 20px 20px 20px 10px;
}

#presentation-resume .resume-container-item-text p {
    font-weight: 300;
}

#presentation-resume .resume-container-item-skills p {
    font-weight: 300;
}


#presentation-resume .section-title h2 {
    font-size: 1.5em;
    font-weight: bold;
}

#presentation-resume .container {
    max-width: 70vw !important;
}

#presentation-resume .resume-container-item-date h3 {
    font-size: 1.3em;
    font-weight: bold;
    color: #0050FF;
}

#presentation-resume .resume-container-item-date h4 {
    font-size: 0.9em;
    font-weight: 600;
}

#presentation-resume .resume-container-item-date p {
    font-size: 0.8em;
    font-weight: 300;
}


@media screen and (max-width: 768px) {
    #presentation-resume .container {
        max-width: 90vw !important;
    }
    #presentation-resume .title-text h1 {
        font-size: 2em;
    }
    #presentation-resume .section-title h2 {
        font-size: 1.5em;
        font-weight: bold;
    }
    #presentation-resume .resume-container-item {
        display: block;
        justify-content: center;
        padding: 50px 20px 20px 20px;
        margin: 20px 0 20px 0;
    }
    #presentation-resume .resume-container-item-date {
        width: 100%;
    }

    #presentation-resume .resume-container-item-text {
        width: 100%;
        padding: 0;
    }

}


/* PROJECTS */
#presentation-projects {
    background-color: #E6DACE;
}

#presentation-projects .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#presentation-projects .blue-square {
    width: 20px;
    height: 20px;
    background-color: #0050FF;
}

#presentation-projects .list-item {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

#presentation-projects .blue-square-bullet-point {
    width: 10px;
    height: 10px;
    background-color: #0050FF;
    margin: 7px 10px 15px 0;
}

#presentation-projects .projects-container-item {
    background-color: white;
    -webkit-box-shadow: 1px -1px 30px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 1px -1px 30px 1px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    padding: 50px 50px 30px 50px;
    margin: 30px 0 30px 0;
}

#presentation-projects .projects-container-item-skills {
    background-color: white;
    -webkit-box-shadow: 1px -1px 30px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 1px -1px 30px 1px rgba(0, 0, 0, 0.16);
    justify-content: left;
    padding: 50px 50px 30px 50px;
    margin: 30px 0 30px 0;
}

#presentation-projects .skill-item-container {
    height: 100%;
}

#presentation-projects .projects-container-item-carousel {
    width: 35%;
}

#presentation-projects .projects-container-item-text {
    width: 65%;
    padding-right: 30px;

}

#presentation-projects .title-text {
    text-align: center;
    padding: 20px 20px 20px 10px;
}

#presentation-projects .projects-container-item-text h3 {
    font-size: 1.3em;
    font-weight: bold;
    color: #0050FF;
}

#presentation-projects .projects-container-item-text h4 {
    font-size: 0.9em;
    font-weight: 600;
}

#presentation-projects .projects-container-item-text p {
    font-size: 0.9em;
    font-weight: 300;
}

#presentation-projects .projects-container-item-skills p {
    font-weight: 300;
}


#presentation-projects .section-title h2 {
    font-size: 1.5em;
    font-weight: bold;
}

#presentation-projects .container {
    max-width: 70vw !important;
}

#presentation-projects .projects-container-item-carousel h3 {
    font-size: 1.3em;
    font-weight: bold;
    color: #0050FF;
}

#presentation-projects .projects-container-item-carousel h4 {
    font-size: 0.9em;
    font-weight: 600;
}

#presentation-projects .projects-container-item-carousel p {
    font-size: 0.8em;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    #presentation-projects .container {
        max-width: 90vw !important;
    }
    #presentation-projects .title-text h1 {
        font-size: 2em;
    }
    #presentation-projects .section-title h2 {
        font-size: 1.5em;
        font-weight: bold;
    }
    #presentation-projects .projects-container-item {
        display: block;
        justify-content: center;
        padding: 50px 20px 20px 20px;
        margin: 20px 0 20px 0;
    }
    #presentation-projects .projects-container-item-carousel {
        width: 100%;
    }

    #presentation-projects .projects-container-item-text {
        width: 100%;
        padding: 0;
    }

}

#presentation-projects .right-container-buttons-item {
    display: inline-block;
    min-height: 50px;
    padding: 20px 0 40px 0;
}

/* NAVBAR */
.navbar {
    min-height: 100px;
}

nav .blue-square {
    width: 10px;
    height: 10px;
    background-color: #0050FF;
    display: inline-block;
}

nav .title {
    position: relative;
}

nav .title-text {
    display: inline-block;
}

.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-weight: 700 !important;
}

.nav-item a {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    color: black !important;
    margin-top: 5px;
}

.nav-link:hover {
    color: #0050FF !important;
}

.active a {
    color: #0050FF !important;
}

/* FOOTER */
.black-footer-desktop {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12vh;
    padding: 10px 0 10px 0;
}

#footer-desktop .container {
    position: relative;
    height: 100%;
}

#footer-desktop .copyright {
    display: inline-block;
    float: left;
    padding: 20px 0 20px 0;
}

#footer-desktop .copyright p {
    font-size: 0.8em;
    font-weight: 300;
}

#footer-desktop .contact {
    position: relative;
    display: inline-block;
    float: right;
    padding: 20px 0 20px 0;
}

#footer-desktop .contact-item {
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 10px;
}

#footer-desktop .social-icon {
    max-height: 12px;
}

#footer-desktop .contact-item-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.8em;
}

#footer-desktop .contact-item-content {
    font-weight: 300;
    font-size: 0.8em;
}

@media screen and (max-width: 767px){
    #footer-desktop {
        display: none;
    }
}

@media screen and (min-width: 768px){
    #footer-mobile {
        display: none;
    }
}

.black-footer-mobile {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12vh;
    padding: 20px 0 10px 0;
}

#footer-mobile .social-icon {
    max-height: 12px;
}

#footer-mobile .contact-item-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.8em;
}

#footer-mobile .contact-item-content {
    font-weight: 300;
    font-size: 0.8em;
}

#footer-mobile .copyright p {
    font-size: 0.8em;
    font-weight: 300;
}

#footer-mobile .container {
    height: 100%;
}

#footer-mobile .contact {
    text-align: center;
}

#footer-mobile .copyright {
    text-align: center;
}